@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.prose-container {
    @apply prose max-w-none prose-a:text-secondary 
    prose-p:text-justify prose-p:max-w-4xl prose-p:mx-auto
    prose-li:my-0 prose-ul:pl-10 prose-ul:max-w-4xl prose-ul:mx-auto prose-ol:max-w-4xl prose-ol:mx-auto
    prose-table:max-w-4xl prose-table:mx-auto
    prose-headings:max-w-4xl prose-headings:mx-auto
    prose-blockquote:max-w-4xl prose-blockquote:mx-auto prose-blockquote:font-serif
    prose-figure:rounded-xl prose-img:rounded-xl prose-img:max-w-full prose-img:mx-auto
    before:prose-p:content-none after:prose-p:content-none
}


html {
    scroll-padding-top: 6rem;
  }

